.ageData rect {
    fill: steelblue;
}

.ageData text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.tick text {
  font: 8px sans-serif;
  text-anchor: middle;
}

svg g {
  transform: translate(5,0);
}

.dashTitle {
  text-align: center;
}

#statMap {
  height: 400px;
}

#statMap > div.leaflet-pane.leaflet-map-pane > div.leaflet-pane.leaflet-marker-pane > div:nth-child(1) > div > span {
  color:black;
  text-shadow: 1px 1px white;
  font-size: 1.5em;
}