.ageData rect {
    fill: steelblue;
    cursor: pointer;
}

.ageData text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}



svg g {
  transform: translate(5,0);
}

.dashTitle {
  text-align: center;
  margin: 2%;
}

#statMap {
  height: 56vh;
}

.marker-cluster span {
  color:black;
  text-shadow: 1px 1px white;
  font-size: 1.5em;
}

.timeData rect {
    fill: steelblue;
    cursor: pointer;
}

.timeData g text {
    fill: black;
    font: 10px sans-serif;
    text-anchor: end;
}

.ageChart {
  float: left;
  clear:right;
}

.timeChart {
  float:left;
}

.mapContainer {
  margin:0 auto;
  clear:left;
}

.chartContainer {
  
}

.timeData g g text {
  font: 8px sans-serif;
  text-anchor: middle;
}

.ageData g g text {
  font: 8px sans-serif;
  text-anchor: middle;
}

.buttons {
  border-radius: 5px;
  background-color:steelblue;
  padding: 1%;
  margin:1%;
  float: left;
  clear:right;
  cursor: pointer;
}

.resetButtons {
  width: 20%;
  margin-right: 5%;
  
}