<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Crash Data</title>
  <meta name="description" content="Crash Data">
  <meta name="author" content="">

  <link rel="stylesheet" href="./static/css/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />

</head>

<body>
  <div id="dashboard" class="dashboard">
    <div id="dashTitle" class="dashTitle">USA Fatal Crashes 2015</div>
    <div id="chartContainer" class="chartContainer">      
      <div id="timeChart" class="timeChart">
        <div id="timeTitle" class="timeTitle">Time Data of Fatalities</div>
        <svg id="timeData" class="timeData"></svg>
      </div>
      <div id="ageChart" class="ageChart">
        <div id="ageTitle" class="ageTitle">Age Data of Fatalities</div>    
        <svg id="ageData" class="ageData"></svg>
      </div>  
    </div>
    <div id="mapContainer" class="mapContainer">
      <div id="statMap" class="statMap">
    </div>
        
    </div>
  </div>
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
  <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="./static/js/scripts.js"></script>
</body>
</html>